<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Planner App</title>
</head>
<body>
  <header>
    <h1>Travel Planner</h1>
  </header>
  <main>
    <div id="main-container" class="main-container">
      <section class= "main-section-top">
        <form>
          <label>My trip to: </label>
          <input id="location" type="text" placeholder="Enter your location trip" required />
          <label>Departing: </label>
          <input id="date" type="date" />
          <button id="reset-btn" type="reset" class="form-btn">Remove Trip</button>
          <button id="submit-btn" type="submit" class="form-btn" value="submit" >Add Trip</button>
          <button id="print-btn" class="form-btn">Print</button>
        </form>
      </section>
      <section class= "main-section-bottom">
      </section>
    </div>
  </main>
  <footer>
    <p>@2021 jaguilarweb</p>
  </footer>
  <script>
/*     //Reference: https://knowledge.udacity.com/questions/399884
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {navigator.serviceWorker.register('/service-worker.js')
      .then(registration => {
          console.log('SW registered successfuly: ', registration); });
      });
    }else{
      console.log("Service Working not supported");
    } */
  </script>
</body>
</html>