<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Planner App</title>
  <link rel="stylesheet" href="/styles/stylesheet.css">
</head>
<body>
  <header>
    <h1>Travel Planner</h1>
    <h2>My Tryps:</h2>
  </header>
  <main>
    <div id="main-container" class="main-container">
      <section class= "main-section-top">
        <form>
          <label>My trip to: </label>
          <input id="location" type="text" placeholder="Enter your location trip" required />
          <label>Departing: </label>
          <input id="date" type="date" />
          <button id="resetBtn" type="reset" class="formBtn">Remove Trip</button>
          <button id="submitBtn" type="submit" class="formBtn" value="submit">Add Trip</button>
          <button id="printBtn" class="formBtn">Print</button>
        </form>
      </section>
      <section class= "main-section-bottom">
      </section>
    </div>
  </main>
  <footer>
    <p>@2021 jaguilarweb</p>
  </footer>
  <script>
  </script>
</body>
</html>