<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Planner App</title>
  <link rel="stylesheet" href="/styles/stylesheet.css">
</head>
<body>
  <header>
    <h1>Travel Planner</h1>
  </header>
  <main>
    <div class='main-container'>
      <section class= "main-section-top">
        <form class="">
          <input id="location" type="text" placeholder="Enter your location trip" required>
          <input id="date" type="date" >
          <button id="submitBtn" type="submit" class="submitBtn" value="submit">Add trip</button>
        </form>
      </section>
      <section class="main-section-bottom">
          <div class='section-image section-width'>
            <img src="#">
            <button>add</button>
            <button>add</button>
            <button>add</button>
          </div>
          <div class="section-content section-width">
            <div id="results">
          </div>
      </section>
    </div>
  </main>
  <footer>
    <p>@2021 jaguilarweb</p>
  </footer>
  <script>
  </script>
</body>
</html>