@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400&display=swap');

// Colors
$color-grey: grey;
$color-grey-light: #cecece;
$color-orange: #ee6f57;
$color-background: #f6f5f5;
$color-blue: #1f3c88;
$color-marine: #070d59;


// Text
$font-general: 'Exo 2', sans-serif;
/* 
Paleta colores:
Morado-celeste
claro: e4fbff
violeta b8b5ff
morado 7868e6
pastel edeef7 


claro: #f6f5f5
naranjo: #ee6f57
azul: #1f3c88
marino: #070d59
*/