@import "_variables.scss";

footer {
  margin-top: 40px;
  background-color: $color-marine;
  color:$color-background;
  font-family: $font-general;
  height: 70px;
  padding-top: 5px;
  text-align: center;
}