@import "_variables.scss";

section {
    display: block;
    form {
        color: $color-marine;
        padding: 40px;
        input {
            background: $color-background;
            border: 2px solid $color-marine;
            padding: 5px 20px;
            width: 100%;
            line-height: 16px;
            margin: 10px 0;
        }
        .submitBtn {
            background-color: $color-marine;
            border-radius: 5px;
            color: $color-background;
        }
    }
}
