@import "_variables.scss";

main {
  background-color: $color-background;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 600px;
}

.main-section-top {
  background-color: $color-orange;
  border-radius: 20px 20px 0 0;
}

.article {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 0 20px 0;
  justify-content: space-around;
  background-color: $color-grey-light;
  width: 100%;
}

.article-image {
  display: grid;
}

img {
  height: 240px;
  width: 240px;
  margin-left: 10px;
  justify-self: center;
  border: 2px $color-orange solid;
  border-radius: 50%;
  background-color: $color-orange;
}

.article-content {
  display: grid;
  color: $color-marine;
  font-family: $font-general;
  align-self: center;
  padding: 0 10px 0 10px;
  h2, h3, span {
    font-weight: 600;
  }
  p {
    display: block;
    margin: 1em 0 1em 0;
  }
}

.icon {
  margin-top: 10px;
  height: 50px;
  width: 50px;
  background: $color-blue;
  justify-self: right;
}
